:root {
  --bg-header: #2c3e50;
  --bg-lgreen: #1abc9c;
  --text-color: #fff;
  --top-footer: #3a546d;
}

/* COMMON */
a {
  color: inherit !important;
}

img {
  max-width: 100%;
}

/* .ms_border-radius {
  border-radius: 50%;
} */

.ms-container-small {
  width: 70%;
  margin: 0 auto;
}

.ms_text-primary {
  color: var(--bg-header);
}

/* HEADER */
/* nav */

header {
  min-height: 80px;
  background-color: var(--bg-header);
}

.ms_text-white {
  color: var(--text-color) !important;
}

.ms_border-w {
  border: 1px solid #fff;
}

.menu {
  text-align: right;
}

/* MAIN */

/* hero */
#hero {
  background-color: var(--bg-lgreen);
  color: var(--text-color);
  padding: 3rem 0;
}

#hero img {
  width: 50%;
  max-width: 250px;
}

.ms-line {
  width: 50px;
  border: 1px solid;
  opacity: 100;
}

/* Portfolio */
.ms_section-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}
/* About */
#about {
  background-color: var(--bg-lgreen);
  text-align: center;
  color: var(--text-color);
}

/* Contact me */

#contact-me {
  color: var(--bg-header);
  text-align: center;
}

/* FOOTER */
footer {
  color: var(--text-color);
}

.top-footer {
  background-color: var(--top-footer);
  min-height: 250px;
}

.bottom-footer {
  background-color: var(--bg-header);
}
