:root {
  --bg-header: #2c3e50;
  --bg-lgreen: #1abc9c;
  --text-color: #fff;
  --top-footer: #3a546d;
}

/* COMMON */
img {
  max-width: 100%;
}

.ms_border-radius {
  border-radius: 50%;
}

.ms-container-small {
  width: 70%;
  margin: 0 auto;
}

/* HEADER */
/* nav */

header {
  min-height: 80px;
  background-color: var(--bg-header);
}

nav {
  color: var(--text-color);
}

.menu {
  text-align: right;
}

/* MAIN */

/* hero */
#hero {
  background-color: var(--bg-lgreen);
  color: var(--text-color);
  padding: 3rem 0;
}

#hero img {
  width: 50%;
  max-width: 250px;
}

/* Portfolio */
.ms_section-title {
  text-transform: uppercase;
  text-align: center;
}
/* About */
#about {
  background-color: var(--bg-lgreen);
  text-align: center;
  color: var(--text-color);
}

/* Contact me */

#contact-me {
  color: var(--bg-header);
  text-align: center;
}

/* FOOTER */
.top-footer {
  background-color: var(--top-footer);
  min-height: 250px;
}

.bottom-footer {
  background-color: var(--bg-header);
}
